:root {
	--ion-color-primary: #E880FF;
	--ion-color-primary-rgb: 232,128,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #cc71e0;
	--ion-color-primary-tint: #ea8dff;

	--ion-color-secondary: #D8BFD8;
	--ion-color-secondary-rgb: 216,191,216;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bea8be;
	--ion-color-secondary-tint: #dcc5dc;

	--ion-color-tertiary: #E6E6FA;
	--ion-color-tertiary-rgb: 230,230,250;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cacadc;
	--ion-color-tertiary-tint: #e9e9fb;

	--ion-color-success: #98FB98;
	--ion-color-success-rgb: 152,251,152;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #86dd86;
	--ion-color-success-tint: #a2fba2;

	--ion-color-warning: #FFDAB9;
	--ion-color-warning-rgb: 255,218,185;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0c0a3;
	--ion-color-warning-tint: #ffdec0;

	--ion-color-danger: #FF9999;
	--ion-color-danger-rgb: 255,153,153;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e08787;
	--ion-color-danger-tint: #ffa3a3;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

    --ion-font-family: 'Figtree', 'Host Grotesk', sans-serif;
}
